---
import { db, comments } from "astro:db";

import Layout from "../layouts/Layout.astro";
import Comment from "../components/Comment.astro";
import CommentForm from "../components/CommentForm.astro";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const author = data.get("author");
  const content = data.get("content");
  await db.insert(comments).values({
    author: author as string,
    content: content as string,
  });
}

const allComments = await db.select().from(comments);
---

<Layout title="Comments">
  <main>
    <h1>Comments</h1>
    <ul>
      {allComments.map((comment) => <Comment comment={comment} />)}
    </ul>
    <CommentForm />
  </main>
</Layout>
